.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;

  &.active {
    width: calc(100% - 80px);
    left: 80px;
  }
}

.details {
  position: relative;
  width: 100%;
  padding: 50px 300px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 991px) {
  .main {
    width: 100%;
    left: 0;

    &.active {
      left: 300px;
      width: calc(100% - 300px);

      .details {
        grid-template-columns: repeat( 1, 1fr);
      }
    }
  }
}

@media (max-width: 830px) {
  .details {
    grid-template-columns: repeat( 1, 1fr);
  }

  .status {
    white-space: nowrap;
  }
}

@media (max-width: 580px) {
  .main {

    &.active {
      width: 100%;
      left: 400px;

      .toggle {
        color: var(--white);
      }
    }
  }
}